
@font-face {
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    src: url('../fonts/Roboto-Regular.ttf');
}

@font-face {
    src: url('../fonts/AlegreyaSansSC-Medium.ttf');
}

@font-face {
    src: url('../fonts/ComicNeue-Bold.ttf');
}

@font-face {
    src: url('../fonts/EBGaramond-Medium.ttf');
}

@font-face {
    src: url('../fonts/Kalam-Bold.ttf');
}

.root {
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 15;
}


#customSpeedValue {
    -fx-font-family: "Roboto Medium";
	-fx-font-size: 20;
}

#playbackSpeedCustom {
    -fx-font-family: "Roboto";
	-fx-font-size: 12;
}

.controlBarLabel {
    -fx-font-family: "Roboto Medium";
	-fx-font-size: 18;
	-fx-text-fill: rgb(200,200,200);
}



.settingsScroll > .viewport {
    -fx-background-color: transparent;
}

.settingsScroll {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-insets: 0;
}

.settingsScroll .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.settingsScroll .scroll-bar:horizontal .track,
.settingsScroll .scroll-bar:vertical .track{
    -fx-opacity: 0;
    -fx-background-radius : 0.0em;
    -fx-border-radius :0.0em;
}

.settingsScroll .scroll-bar:vertical .track-background {
    -fx-opacity: 0;
}

.settingsScroll .scroll-bar:horizontal .increment-button ,
.settingsScroll .scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 0.0 0.0;

}

.settingsScroll .scroll-bar:vertical .increment-button ,
.settingsScroll .scroll-bar:vertical .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 0.0 0.0;

}

 .settingsScroll .scroll-bar .increment-arrow,
 .settingsScroll .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0em 0.0;
}

 .settingsScroll .scroll-bar:vertical .increment-arrow,
 .settingsScroll .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.0em;
}

.settingsScroll .scroll-bar:horizontal .thumb,
.settingsScroll .scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}



.customSpeedSlider .track {
	
	-fx-background-color: null;
}


.customSpeedTrack {
	-fx-accent: white;
}

.customSpeedTrack > .track {
	-fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.customSpeedTrack > .bar {
	-fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.customSpeedSlider > .thumb {
	-fx-background-color: white;
	-fx-padding: 10;
}



.volumeSlider .track {
	
	-fx-background-color: null;
}


.volumeTrack {
	-fx-accent: white;
}

.volumeTrack > .track {
	-fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.volumeTrack > .bar {
	-fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.volumeSlider > .thumb {
	-fx-background-color: white;
	-fx-padding: 7;
}


.durationSlider .track {
	-fx-background-color: null;
	-fx-pref-height: 20px;
}


.durationTrack {
	-fx-accent: red;
}

.durationTrack > .track {
	-fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.durationTrack > .bar {
	-fx-padding: 0px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.durationSlider > .thumb {
	-fx-background-color: red;
	-fx-padding: 8; /* hides thumb by default */
}

.controlButton {
    -fx-background-color: transparent;
}

#addVideoIcon {
    -fx-background-color: white;
}

.controlIcon, .settingsPaneIcon {
    -fx-background-color: rgb(200, 200, 200);
}


.controlIconDisabled {
    -fx-background-color: rgb(120, 120, 120);
}


.settingsHomeIcon, #captionsSearchIcon {
    -fx-background-color: white;
}

.settingsPaneTab, #captionsFileTab {
    -fx-background-color: transparent;
}

.settingsPaneTab:hover {
    -fx-background-color: rgba(73,73,73,0.8);
}

.settingsPaneText {
    -fx-text-fill: rgb(200,200,200);
    -fx-font-family: "Roboto Bold";
}

#tooltipMainText {
    -fx-text-fill: rgb(150,150,150);
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14;
}

#tooltipTitle {
    -fx-text-fill: white;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14;
}

.settingsPaneSubText {
    -fx-font-family: "Roboto";
    -fx-font-size: 13;
}

#mediaViewText {
    -fx-text-fill: white;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 20;
}

.tooltip {
    -fx-background-color: rgba(15,15,15,0.9);
    -fx-background-radius: 5;
    -fx-font-family: "Roboto Medium";
}

.mfx-toggle-button {
    -mfx-main: red;
    -mfx-secondary: rgb(107,107,107);
    -fx-padding: 0;
}

.mfx-toggle-button .circle {
	-fx-fill: rgb(200,200,200);
}

.mfx-toggle-button:selected .circle {
	-fx-fill: white;
}

.mfx-toggle-button .line {
	-fx-opacity: 1;
}

.settingsPaneTitle {
    -fx-border-color: rgb(70,70,70);
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 0 -1 0;
}

.settingsBackground {
    -fx-background-color: rgba(15,15,15,0.88);
    -fx-background-radius: 10;
}


.tooltipSubText {
    -fx-padding: 2 2 2 2;
    -fx-background-color: rgba(30,30,30,0.8);
    -fx-text-fill: white;
    -fx-font-size: 13;
}

.graphicLabel {
    -fx-background-color: transparent;
    -fx-background-radius: 2;
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 13;
}

#sliderHoverPreviewPane {
    -fx-background-radius: 2;
    -fx-border-color: white;
    -fx-border-style: solid;
    -fx-border-width: 2;
    -fx-border-radius: 2;
    -fx-background-color: black;
}

.warningLabelTooltip {
    -fx-text-fill: red;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 13;
}

.imageViewBackground {
    -fx-background-radius: 5;
}


.equalizer-slider .track {
	-fx-background-color: null;
}


.equalizer-slider-track {
	-fx-accent: red;
}

.equalizer-slider-track > .track {
	-fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.equalizer-slider-track > .bar {
	-fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.equalizer-slider > .thumb {
	-fx-background-color: red;
	-fx-padding: 7;
}

.equalizer-label {
    -fx-text-fill: white;
    -fx-font-family: "Roboto";
    -fx-font-size: 11;
}

#popupWindowContainer {
    -fx-background-color: rgba(0,0,0,0.8);
}

.popupWindow {
    -fx-background-color: rgb(30,30,30);
    -fx-background-radius: 10;
    -fx-border-color: rgb(50,50,50);
    -fx-border-radius: 10;
    -fx-border-width: 1;
}

.popupWindowTitle {
    -fx-text-fill: white;
    -fx-font-family: "Roboto Bold";
    -fx-font-size: 20;
}

.popupWindowText {
    -fx-text-fill: rgb(220,220,220);
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 18;
}

.popupWindowCloseButton {
    -fx-background-radius: 100;
    -fx-padding: 0;
    -fx-background-color: #656565;
}

.buttonContainer {
    -fx-background-color: rgb(15,15,15);
    -fx-background-radius: 0 0 10 10;
}


