/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


@font-face {
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    src: url('../fonts/Roboto-Regular.ttf');
}

.root {
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 15;
}


#customSpeedValue {
    -fx-font-family: "Roboto Medium";
	-fx-font-size: 20;
}

#playbackSpeedCustom {
    -fx-font-family: "Roboto";
	-fx-font-size: 12;
}

#durationLabel {
    -fx-font-family: "Roboto Medium";
	-fx-font-size: 18;
}



.playbackSpeedScroll > .viewport {
    -fx-background-color: transparent;
}

.playbackSpeedScroll {
    -fx-background-color: transparent;
}

.playbackSpeedScroll .scroll-bar:vertical {
    -fx-background-color: transparent;
}

.playbackSpeedScroll .scroll-bar:horizontal .track,
.playbackSpeedScroll .scroll-bar:vertical .track{
    -fx-opacity: 0;
    -fx-background-radius : 0.0em;
    -fx-border-radius :0.0em;
}

.playbackSpeedScroll .scroll-bar:vertical .track-background {
    -fx-opacity: 0;
}

.playbackSpeedScroll .scroll-bar:horizontal .increment-button ,
.playbackSpeedScroll .scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 0.0 0.0;

}

.playbackSpeedScroll .scroll-bar:vertical .increment-button ,
.playbackSpeedScroll .scroll-bar:vertical .decrement-button {
    -fx-background-color : transparent;
    -fx-background-radius : 0.0em;
    -fx-padding :0.0 0.0 0.0 0.0;

}

 .playbackSpeedScroll .scroll-bar .increment-arrow,
 .playbackSpeedScroll .scroll-bar .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0em 0.0;
}

 .playbackSpeedScroll .scroll-bar:vertical .increment-arrow,
 .playbackSpeedScroll .scroll-bar:vertical .decrement-arrow{
    -fx-shape : " ";    
    -fx-padding :0.0 0.0em;
}

.playbackSpeedScroll .scroll-bar:horizontal .thumb,
.playbackSpeedScroll .scroll-bar:vertical .thumb {
    -fx-background-color :derive(black,90.0%);
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 2.0em;
}



.customSpeedSlider .track {
	
	-fx-background-color: null;
}


.customSpeedTrack {
	-fx-accent: white;
}

.customSpeedTrack > .track {
	-fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.customSpeedTrack > .bar {
	-fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.customSpeedSlider > .thumb {
	-fx-background-color: white;
	-fx-padding: 10;
}



.volumeSlider .track {
	
	-fx-background-color: null;
}


.volumeTrack {
	-fx-accent: white;
}

.volumeTrack > .track {
	-fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.volumeTrack > .bar {
	-fx-padding: 1px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.volumeSlider > .thumb {
	-fx-background-color: white;
	-fx-padding: 7;
}


.durationSlider .track {
	-fx-background-color: null;
	-fx-pref-height: 50px;
}


.durationTrack {
	-fx-accent: red;
}

.durationTrack > .track {
	-fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.durationTrack > .bar {
	-fx-padding: 0px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.durationSlider > .thumb {
	-fx-background-color: red;
	-fx-padding: 8; /* hides thumb by default */
}

.controlButton {
    -fx-background-color: transparent;
}

#addVideoIcon {
    -fx-background-color: white;
}

.controlIcon, .settingsPaneIcon {
    -fx-background-color: rgb(200, 200, 200);
}


.controlIconDisabled {
    -fx-background-color: rgb(100, 100, 100);
}


.settingsHomeIcon, #captionsSearchIcon {
    -fx-background-color: white;
}

.settingsPaneTab, #captionsFileTab {
    -fx-background-color: transparent;
}

.settingsPaneTab:hover {
    -fx-background-color: rgba(73,73,73,0.8);
}

.settingsPaneText {
    -fx-text-fill: rgb(200,200,200);
    -fx-font-family: "Roboto Bold";
}

.settingsPaneSubText {
    -fx-font-family: "Roboto";
    -fx-font-size: 13;
}

.tooltip {
    -fx-background-radius: 2;
    -fx-font-family: "Roboto Medium"
}

.mfx-toggle-button {
    -mfx-main: red;
    -mfx-secondary: rgb(107,107,107);
    -fx-padding: 0;
}

.mfx-toggle-button .circle {
	-fx-fill: rgb(200,200,200);
}

.mfx-toggle-button:selected .circle {
	-fx-fill: white;
}

.mfx-toggle-button .line {
	-fx-opacity: 1;
}

.settingsPaneTitle {
    -fx-border-color: rgb(70,70,70);
    -fx-border-width: 0 0 1 0;
    -fx-border-insets: 0 0 -1 0;
}

#settingsBackground {
    -fx-background-color: rgba(30,30,30,0.8);
    -fx-background-radius: 2;
}

#valueIndicatorBackground {
    -fx-background-color: rgba(30,30,30, 0.6);
    -fx-background-radius: 5;
}