
@font-face {
    src: url('../fonts/Roboto-Regular.ttf');
}

.expandable-text-area .content {
    -fx-background-color : rgba(30,30,30,0.4);
    -fx-background-radius: 5;
    -fx-border-style     : solid;
    -fx-border-color     : rgb(100,100,100);
    -fx-border-radius    : 5;
}
.expandable-text-area:focused .content {
    -fx-faint-focus-color: transparent;
    -fx-focus-color      : transparent;
}
.expandable-text-area {
    -fx-background-color: transparent;
    -fx-effect           : null;
    -fx-background-insets: 0;
    -fx-border-width     : 0;
    -fx-border-insets    : 0;
    -fx-text-fill: rgb(200,200,200);
    -fx-font-family: "Roboto";
    -fx-font-size: 16;
}

.expandable-text-area .scroll-pane {
    -fx-background-color: transparent;
}

.expandable-text-area .viewport {
    -fx-background-color: transparent;
}

