
.focusableProperty{
	-fx-border-color: transparent;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-padding: 0;
}

/* .focusableProperty:focused{
	-fx-border-color: blue;
    -fx-border-width: 1;
    -fx-border-style: solid;

}*/

.menuButton {
	-fx-border-radius: 0;
	-fx-background-radius: 0;
}