
@font-face {
    src: url('../fonts/Roboto-Medium.ttf');
}

@font-face {
    src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
    src: url('../fonts/Roboto-Regular.ttf');
}

.root {
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 15;
}

#addVideosBoldText, #addedVideosBoldText {
-fx-font-family: "Roboto Bold";
	-fx-font-size: 22;
}

#addVideosNormalText, #addedVideosNormalText {
-fx-font-family: "Roboto Regular";
	-fx-font-size: 20;
}

.menuButton {
    -fx-background-color: #303030;
    -fx-background-radius: 0;
    -fx-font-size: 1.2em;
}

#queueScroll {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#queueScroll:focused { /*removes the annoying outline when clicking on the scrollpane*/
    -fx-background-insets: 0;
}

#queueScroll .corner {
    -fx-background-insets: 0;
}

#addBackground {
    -fx-border-style: dashed;
    -fx-border-width: 3;
    -fx-border-color: white;
    -fx-background-color: transparent;
}



.buttonLine {
    -fx-pref-height: 0.5em;
}


.menuButton:hover {
    -fx-background-color: #404040;
}

#menuPane {
    -fx-background-color: #303030;
}

#menuContent {
    -fx-background-color: #202020;
}

.menuItemPane{
    -fx-background-color: #202020;
}
