
@font-face {
    src: url('../fonts/Roboto-Medium.ttf');
}

.root {
	-fx-font-family: "Roboto Medium";
	-fx-font-size: 15;
}

.menuButton {
    -fx-background-color: #303030;
    -fx-background-radius: 0;
    -fx-font-size: 1.2em;
}

#queueScroll {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

#queueScroll:focused { // removes the annoying outline when clicking on the scrollpane
    -fx-background-insets: 0;
}

#queueScroll .corner {
    -fx-background-insets: 0;
}




.buttonLine {
    -fx-pref-height: 0.5em;
}


.menuButton:hover {
    -fx-background-color: #404040;
}

#menuPane {
    -fx-background-color: #303030;
}

#menuContent {
    -fx-background-color: #202020;
}

