

@font-face {
    src: url('../fonts/Roboto-Medium.ttf');
}

.miniplayerIcon {
    -fx-background-color: rgb(200,200,200);
}


#controlsBackground {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.tooltip {
    -fx-background-radius: 2;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 15;
}

#durationBar {
	-fx-accent: red;
}

#durationBar > .track {
	-fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-text-box-border: transparent;
    -fx-control-inner-background: transparent;
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

#durationBar > .bar {
	-fx-padding: 0px;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}