

    .context-menu {
        -fx-background-color: #303030;
        -fx-background-radius: 5;
    }

    .menu-item .label {
      -fx-text-fill: white;
    }

    .menu-item:focused {
      -fx-background-color: #404040;
    }
