
@font-face {
    src: url('../fonts/Roboto-Medium.ttf');
}

.context-menu {
    -fx-insets: 0;
    -fx-background-color: rgba(15,15,15,0.95);
    -fx-background-radius: 0;
    -fx-padding: 0;
}

.playbackOptionsPopUpLabel {
    -fx-text-fill: white;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 14;
    -fx-pref-height: 35;
    -fx-pref-width: 190;
    -fx-padding: 0 0 0 10;
}

.menuItem .icon {
    -fx-background-color: white;
}

.menuItem {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 20
}

.menuItem:hover {
    -fx-background-color: rgba(40,40,40,0.9);
}
