
@font-face {
    src: url('../fonts/Roboto-Regular.ttf');
}

.expandable-text-area .content {
    -fx-background-color : rgba(30,30,30,0.4);
    -fx-background-radius: 5;

}

.expandable-text-area:focused {
    -fx-border-color : rgb(200,200,200);
    -fx-border-width : 2;
    -fx-border-insets: -1
}

.expandable-text-area {
    -fx-background-color : 0;
    -fx-background-insets: 0;
    -fx-text-fill        : rgb(200,200,200);
    -fx-font-family      : "Roboto";
    -fx-font-size        : 16;
    -fx-border-style     : solid;
    -fx-border-color     : rgb(100,100,100);
    -fx-border-radius    : 5;
    -fx-border-width     : 1;
}

.expandable-text-area .scroll-pane {
    -fx-background-color : transparent;
}

.expandable-text-area .viewport {
    -fx-background-color : transparent;
}

.text-field {
    -fx-text-fill        : rgb(200,200,200);
    -fx-font-family      : "Roboto";
    -fx-font-size        : 16;
    -fx-padding          : 0 0 0 10;
}

.customTextField {
    -fx-background-color : rgba(30,30,30,0.4);
    -fx-background-radius: 5;
    -fx-border-style     : solid;
    -fx-border-color     : rgb(100,100,100);
    -fx-border-radius    : 5;
}

.customTextField:focused {
    -fx-border-color: rgb(200,200,200);
    -fx-border-width: 2;
    -fx-border-insets: -1;
}

.customTextField .menu-item .label, .expandable-text-area .menu-item .label, .spinner .text-field .menu-item .label, .date-picker .text-field .menu-item .label, .key-text-field .menu-item .label{
    -fx-text-fill: white;
}

.customTextField .menu-item:disabled .label, .expandable-text-area .menu-item:disabled .label, .spinner .text-field .menu-item:disabled .label, .date-picker .text-field .menu-item:disabled .label, .key-text-field .menu-item:disabled .label{
    -fx-text-fill: rgb(150,150,150);
}

.customTextField .context-menu, .expandable-text-area .context-menu, .spinner .text-field .context-menu, .date-picker .text-field .context-menu, .key-text-field .context-menu{
    -fx-background-color: rgba(15,15,15,0.95);
    -fx-background-radius: 10;
    -fx-padding: 10 0 10 0;
}

.customTextField .menu-item, .expandable-text-area .menu-item, .spinner .text-field .menu-item, .date-picker .text-field .menu-item, .key-text-field .menu-item{
    -fx-background-color: transparent;
}

.customTextField .menu-item:hover, .expandable-text-area .menu-item:hover, .spinner .text-field .menu-item:hover, .date-picker .text-field .menu-item:hover, .key-text-field .menu-item:hover{
    -fx-background-color: rgba(50,50,50, 0.9);
}

.customTextField .menu-item:disabled, .expandable-text-area .menu-item:disabled, .spinner .text-field .menu-item:disabled, .date-picker .text-field .menu-item:disabled, .key-text-field .menu-item:disabled{
    -fx-background-color: transparent;
}

.key-text-field {
    -fx-text-fill: white;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 18;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.key-text-field .context-menu {
    -fx-font-family      : "Roboto";
    -fx-font-size        : 16;
}

.key-text-field:focused {
    -fx-border-width: 0;
    -fx-border-style: none;
    -fx-border-insets: 0;
}

.combo-box {
     -fx-background-color : rgba(30,30,30,0.4);
     -fx-background-radius: 5;
     -fx-border-style     : solid;
     -fx-border-color     : rgb(100,100,100);
     -fx-border-radius    : 5;
     -fx-text-fill        : rgb(200,200,200);
     -fx-font-family      : "Roboto";
     -fx-font-size        : 16;
}

.combo-box:focused {
    -fx-border-color: rgb(200,200,200);
    -fx-border-width: 2;
    -fx-border-insets: -1;
}

.combo-box:focused .arrow {
    -fx-background-color: white;
}

.combo-box .list-cell {
    -fx-text-fill        : rgb(200,200,200);
    -fx-font-family      : "Roboto";
    -fx-font-size        : 16;
}

.combo-box .arrow{
    -fx-background-color  : rgb(100,100,100);
}
.combo-box .arrow-button{
    -fx-background-color  : transparent;
    -fx-border-style      :none;
}

.combo-box .combo-box-popup .list-view {
    -fx-background-color: rgba(15,15,15,0.95);
    -fx-background-radius: 10;
    -fx-padding: 10 0 10 0;
}


.combo-box .combo-box-popup .list-cell {
    -fx-text-fill         : rgb(200,200,200) ;
    -fx-font-family       : "Roboto";
    -fx-font-size         : 16;
    -fx-background-color: transparent;
}

.combo-box .combo-box-popup .list-cell:selected {
    -fx-text-fill         : white ;
    -fx-background-color  : rgba(50,50,50,0.9);
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: white;
    -fx-background-color: rgba(60,60,60,1);
}

.spinner, .date-picker {
    -fx-background-color : rgba(30,30,30,0.4);
    -fx-background-radius: 5;
    -fx-border-style     : solid;
    -fx-border-color     : rgb(100,100,100);
    -fx-border-radius    : 5;
}

.spinner:focused,
.spinner:contains-focus,
.date-picker:focused,
.date-picker:contains-focus {
    -fx-background-color : rgba(30,30,30,0.4);
    -fx-border-color: rgb(200,200,200);
    -fx-border-width: 2;
    -fx-border-insets: -1;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button, .date-picker .arrow-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-background-insets: 0;
}

.spinner .increment-arrow-button:hover, .spinner .decrement-arrow-button:hover, .spinner .increment-arrow-button:pressed, .spinner .decrement-arrow-button:pressed, .date-picker .arrow-button:hover, .date-picker .arrow-button:pressed {
    -fx-background-color: rgba(60,60,60,0.9);
}


.spinner .text-field, .date-picker .text-field {
    -fx-background-color: transparent;
}

.spinner .increment-arrow-button .increment-arrow, .spinner .decrement-arrow-button .decrement-arrow, .date-picker .arrow-button .arrow {
    -fx-background-color: rgb(200,200,200);
}

.date-picker-popup  {
	-fx-background-color: rgba(15,15,15,0.95);
    -fx-background-radius: 10;
	-fx-border-color: rgb(100,100,100);
	-fx-border-radius: 10;
	-fx-spacing: 3;
	-fx-padding: 0 0 5 0;
}
.date-picker-popup .month-year-pane {
    -fx-background-radius: 10 10 0 0;
	-fx-background-color: rgb(40,40,40);
}
.date-picker-popup .month-year-pane .label {
	-fx-text-fill: rgb(200,200,200);
}
.date-picker-popup .week-number-cell {
	-fx-text-fill: white;
}

.date-picker-popup .spinner {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.date-picker-popup .spinner .button {
    -fx-border-color: transparent;
    -fx-cursor: hand;
    -fx-scale-y: 1.5;
}

.date-picker-popup .spinner .button:focused {
    -fx-background-color: transparent;
}

.date-picker-popup .spinner .button:hover,
.date-picker-popup .spinner .button:pressed {
    -fx-background-color: rgb(60,60,60)
}

.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
	-fx-background-color: rgb(200,200,200);
	-fx-effect: null;
	-fx-alignment: CENTER;
	-fx-scale-y: 0.9;
	-fx-scale-x: 1.2;
	-fx-padding: 4 3 4 3;
}

.date-picker-popup .spinner .button:hover .left-arrow,
.date-picker-popup .spinner .button:pressed .left-arrow,
.date-picker-popup .spinner .button:hover .right-arrow,
.date-picker-popup .spinner .button:pressed .right-arrow {
    -fx-background-color: white;
}

.date-picker-popup > .calendar-grid {
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-padding: 2;
}

.date-picker-popup .day-name-cell {
    -fx-text-fill: white;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-padding: 5 3 5 3;
    -fx-effect: null;
}

.date-picker-popup .day-cell {
    -fx-text-fill: rgb(200,200,200);
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-padding: 7;
    -fx-effect: null;
}

.date-picker-popup .previous-month,
.date-picker-popup .next-month {
    -fx-text-fill: rgb(120,120,120);
}


.date-picker-popup .day-cell:hover, .date-picker .day-cell:focused {
    -fx-background-color: rgb(60,60,60);
    -fx-border-color: rgb(60,60,60);
    -fx-text-fill: white;
    -fx-effect: null;
}

.date-picker-popup .selected,
.date-picker-popup .selected:hover,
.date-picker-popup .selected:focused{
    -fx-text-fill: white;
    -fx-background-color: red;
    -fx-border-color: red;
    -fx-effect: null;
}

.mfx-checkbox {
    -fx-text-fill: white;
    -fx-font-family: "Roboto";
    -mfx-main: rgb(255, 0, 0);
}





