
@font-face {
    src: url('../fonts/Roboto-Regular.ttf');
}

.expandable-text-area .content {
    -fx-background-color : rgba(30,30,30,0.4);
    -fx-background-radius: 5;

}

.expandable-text-area:focused {
    -fx-border-color : rgb(200,200,200);
    -fx-border-width : 2;
    -fx-border-insets: -1
}

.expandable-text-area {
    -fx-background-color : 0;
    -fx-background-insets: 0;
    -fx-text-fill        : rgb(200,200,200);
    -fx-font-family      : "Roboto";
    -fx-font-size        : 16;
    -fx-border-style     : solid;
    -fx-border-color     : rgb(100,100,100);
    -fx-border-radius    : 5;
    -fx-border-width     : 1;
}

.expandable-text-area .scroll-pane {
    -fx-background-color : transparent;
}

.expandable-text-area .viewport {
    -fx-background-color : transparent;
}

.text-field {
    -fx-text-fill        : rgb(200,200,200);
    -fx-font-family      : "Roboto";
    -fx-font-size        : 16;
    -fx-padding          : 0 0 0 10;
}

.customTextField {
    -fx-background-color : rgba(30,30,30,0.4);
    -fx-background-radius: 5;
    -fx-border-style     : solid;
    -fx-border-color     : rgb(100,100,100);
    -fx-border-radius    : 5;
}

.customTextField:focused {
    -fx-border-color: rgb(200,200,200);
    -fx-border-width: 2;
    -fx-border-insets: -1;
}

.customTextField .menu-item .label{
    -fx-text-fill: white;
}

.customTextField .menu-item:disabled .label{
    -fx-text-fill: rgb(150,150,150);
}

.customTextField .context-menu{
    -fx-background-color: rgba(30,30,30,0.95);
}

.customTextField .menu-item{
    -fx-background-color: transparent;
}

.customTextField .menu-item:hover{
    -fx-background-color: rgb(50,50,50);
}

.customTextField .menu-item:disabled{
    -fx-background-color: transparent;
}

.key-text-field {
    -fx-text-fill: white;
    -fx-font-family: "Roboto Medium";
    -fx-font-size: 18;
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-padding: 0;
}

.key-text-field:focused {
    -fx-border-width: 0;
    -fx-border-style: none;
    -fx-border-insets: 0;
}

.expandable-text-area .menu-item .label{
    -fx-text-fill: white;
}

.expandable-text-area .menu-item:disabled .label{
    -fx-text-fill: rgb(150,150,150);
}

.expandable-text-area .context-menu{
    -fx-background-color: rgba(30,30,30,0.95);
}

.expandable-text-area .menu-item{
    -fx-background-color: transparent;
}

.expandable-text-area .menu-item:hover{
    -fx-background-color: rgb(50,50,50);
}

.expandable-text-area .menu-item:disabled{
    -fx-background-color: transparent;
}


.combo-box {
     -fx-background-color : rgba(30,30,30,0.4);
     -fx-background-radius: 5;
     -fx-border-style     : solid;
     -fx-border-color     : rgb(100,100,100);
     -fx-border-radius    : 5;
     -fx-text-fill        : rgb(200,200,200);
     -fx-font-family      : "Roboto";
     -fx-font-size        : 16;
}

.combo-box:focused {
    -fx-border-color: rgb(200,200,200);
    -fx-border-width: 2;
    -fx-border-insets: -1;
}

.combo-box:focused .arrow {
    -fx-background-color: white;
}

.combo-box .list-cell {
    -fx-text-fill        : rgb(200,200,200);
    -fx-font-family      : "Roboto";
    -fx-font-size        : 16;
}

.combo-box .arrow{
    -fx-background-color  : rgb(100,100,100);
}
.combo-box .arrow-button{
    -fx-background-color  : transparent;
    -fx-border-style      :none;
}

.combo-box .list-view {
    -fx-background-color: transparent;
}


.combo-box .combo-box-popup .list-view, .combo-box .combo-box-popup .list-cell {
    -fx-background-color  : rgba(30,30,30,0.9);
    -fx-text-fill         : rgb(200,200,200) ;
    -fx-font-family       : "Roboto";
    -fx-font-size         : 16;
}

.combo-box .combo-box-popup .list-cell:selected {
    -fx-text-fill         : white ;
    -fx-background-color  : rgba(50,50,50,1);
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: white ;
    -fx-background-color: rgba(60,60,60,1);
}

.spinner {
    -fx-background-color : rgba(30,30,30,0.4);
    -fx-background-radius: 5;
    -fx-border-style     : solid;
    -fx-border-color     : rgb(100,100,100);
    -fx-border-radius    : 5;
}

.spinner:focused,
.spinner:contains-focus {
    -fx-background-color : rgba(30,30,30,0.4);
    -fx-border-color: rgb(200,200,200);
    -fx-border-width: 2;
    -fx-border-insets: -1;
}

.spinner .increment-arrow-button, .spinner .decrement-arrow-button {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.spinner .increment-arrow-button:hover, .spinner .decrement-arrow-button:hover, .spinner .increment-arrow-button:pressed, .spinner .decrement-arrow-button:pressed {
    -fx-background-color: rgba(60,60,60,0.9);
}

.spinner .text-field {
    -fx-background-color: transparent;
}

.spinner .increment-arrow-button .increment-arrow, .spinner .decrement-arrow-button .decrement-arrow {
    -fx-background-color: rgb(200,200,200);
}

.spinner .increment-arrow-button:hover .increment-arrow, .spinner .decrement-arrow-button:hover .decrement-arrow, .spinner .increment-arrow-button:pressed .increment-arrow, .spinner .decrement-arrow-button:pressed .decrement-arrow {
    -fx-background-color: rgb(255,255,255);
}



